.partners-list {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #000000;
	border-collapse: collapse; 
	background-color: #7de0d3;
}

.how-img {
	background-color: rgb(23, 50, 50);
}

 .vertical-line {border-left: 6px solid green;  /* пока что просто добавил, потом уже по-уму можно сделать */
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;}