
:root {
  --header-height: 108px;
}

body {
  font-family: "Poppins","Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: #0D0D11;
  margin: 0;
}
	
img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: "Bakbak One", "Roboto", sans-serif;
	font-weight: 400;
	color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-transform:uppercase;
  font-family: "Bakbak One", "Roboto", sans-serif;
	font-weight: 400;
	color: #fff;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 44px;
  line-height:1.2;
  text-align: center;
}

h3 {
  font-size: 24px;
}

dl, dt, dd {
  margin: 0;
  padding: 0; 
  margin-inline-start: 0px; 
}

details {
  display: block; 
  padding: 0; 
  margin: 0; 
  border: none; 
  background: none; 
}

summary {
  list-style: none; 
  padding: 0;
  margin: 0;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

.hidden {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.header {
  background-color: #040B11;
  border: none;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
} 

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 108px;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  line-height: 1.3;
  gap: 16px;
}

.header-nav-list {
  display: flex;
  font-size: 16px; 
  line-height: 1.5;
  letter-spacing: 0.1em;
  gap: 0px 32px;
  padding: 0px;
  margin: 0px;
}

.nav-item {
  position: relative;
}

.nav-dropbtn {
  display: block;
}

.nav-item:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  z-index: 1;
  position: absolute;
}

.button-theme-toggle { 
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 41px;
  background-color: #141B22;
}

.page-header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-action {
  border: 2px solid #141B22; 
  background-color: #141B22; 
  color: #fff; 
  font-size: 16px;  
  line-height: 1.5;
	gap: 8px;	
  
  display: inline-flex;
  width: auto;
  text-align: center;
  align-items: center;
  justify-self: center;
  padding: 12px 24px;
  margin: 0px 0px;
}

.welcome-heading {
  display: inline-block;
  line-height:1.1;
  text-align: left;
  margin: 0;
}

.welcome-heading-text::after {
  display: block;
  content: " ";
}

.welcome-heading-break::after {
  display: block;
  content: " ";
}

.welcome-text {
 text-align: left;
 margin-top: 20px;
 font-size: 20px;
}

.welcome-stats {
  margin-top: 48px;
  padding: 0;
}

.stat-list {
  display: grid;
  text-align: left;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 8px 79px;
  align-items: start;
  padding: 0;
}

.welcome-heading-text, .how-heading-text, .partners-text {
  color: #21E786;
}

.stat-item {                 
  font-size: 16px;
  line-height:1.6;
  color: #C2C3C5;
  grid-row: 2;
  text-align: start;
  padding: 0;
  margin: 0;
  margin-inline-start: 0px;
}

.stat-value {
  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 44px;
  line-height: 1.2;
  grid-row: 1;
  text-align: start;
  padding: 0;
  margin: 0;
  margin-inline-start: 0px;

  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.welcome-buttons {
  display: flex;
  margin-top: 46px;
  gap: 0 24px;
}

.products-list {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto; 
  white-space: nowrap;
  gap: 20px;
  padding: 0;
  margin-top: 60px;
 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.product-list-wrapper::-webkit-scrollbar {
  display: none;
}

.products-item {
  background-color: #19191D;
}

.product-link {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.product-images {
  display: block;
  width: 290px;
  height: 290px;
}

.product-name {
  font-size: 20px;
  line-height:1.4;
  text-transform: uppercase;
  text-align: left;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.about-heading {
margin: 0;
padding: 0;
}

.about-text {
  font-size: 18px;
  text-align: center;
  margin: 16px auto 0;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px auto auto;
  padding: 0;
  gap: 30px;
  counter-reset: item;
}

.about-list-item {
  background-color: #141B22;
  position: relative;
  gap: 12px;
  margin: 0;
  padding: 30px;
}

.about-tittle {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.about-list-item::before {
  counter-increment: item;
  content: "0" counter(item);

  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 80px;
  line-height:1.2;
  color: transparent; 
  -webkit-text-stroke: .5px #21E786;
  opacity: 0.8;
  position: relative;
  display: block;
  margin-bottom: -48px; 
  padding-left: 0; 
  z-index: 0; 
}
 
.about-item-text {
  font-size: 18px;
  text-align: start;
  margin: 0;
  padding: 0;
}

.about a {
  margin-top: 30px;
}

.how {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}
.how-heading {
  margin: 0;
  padding: 0;
}

.how-steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;

  justify-content: space-between;
  padding: 0;
  margin: 60px 0 0;
}

.how-step {
  background-color: #141B22;
  padding: 30px 52px 26px;
}

.how-step-link {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-img {
  margin: 0;
  padding: 0;
  max-height: 72px; 
}

.how-step-heading {
  font-size: 22px;
  color: #21E786;
  line-height: 1.3;
  margin-top: 20px;
  margin-bottom: 0;
}

.how-step-text {
  font-size: 24px;
  line-height: 1.3;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.road-content {
  display: flex;
  column-gap: 79px;
  background-color: #19191D;
  width: 100%;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 24px;
}

.road-img {
  display: grid;
  grid-template-columns: 470px 225px;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 48px 0 48px 48px;
}

.road-img1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.road-img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.road-img3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.road-item-heading {
  font-size: 36px;
  line-height: 1.2;
  text-align: left;
  margin-top: 127px;
  margin-bottom: 16px;
}

.road-item-content {
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 0;
}

.road-item-text {
  display: flex;
  gap: 0 12px;
  margin-bottom: 20px;
  color: #C2C3C5;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.phase-nav-item {
  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  display: inline;
  text-align: left;
}

.team {
  margin-top: 125px;
}

.team-heading {
  margin: 0;
  padding: 0;
}

.team-list {
  margin-top: 60px;
  margin-bottom: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141B22;
  text-align: center;
  width: 330px;
  padding: 40px 0;
}

.member-img {
  padding: 0;
  border-radius: 50%;
}


.member-name {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 31px 0 0 0;
}

.member-position { 
  color: #C2C3C5;
  font-size: 18px;
  padding: 0;
  margin: 4px 0 0 0;
}

.member-links-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 26px 0 0 0;
}

.partners {
margin-top: 82px;
margin-bottom: 0;
}

.partners-heading {
  margin: 0;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(210px, 1fr));
  justify-content: space-between;
  gap: 30px;
  padding: 0;
  margin-top: 58px;
  margin-bottom: 0;
}

.background {
  background-color: #141B22;
}

.partner-site {
  display: flex;
  justify-content: center;
  padding: 20px 24px;
}

.faqs {
  margin-top: 100px;
}

.faqs-heading {
  padding: 0;
  margin-bottom: 60px;
}

.faqs-question {
  text-align: left;
  margin: 12px 240px;
  padding: 30px 20px;
  background-color: #141B22;
}

.question-tittle {
  font-family: "Bakbak One", "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.faq-answer {
  color: #C2C3C5;
  font-size: 18px;
  margin: 0;
  padding-top: 16px;
  border-top: 1px solid #434343;
}

.question-tittle::after {
  content: url(/img/minus.svg);      
}

.faqs-question[open] .question-tittle::after {
  content: url(/img/plus.svg);
}

.faqs-question[open] .question-tittle {
  margin-bottom: 16px;
}

.page-footer {
  margin-top: 100px;
}

.footer-top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top-heading {
  margin: 0;
}

.footer-top-text {
  color: #C2C3C5;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
}

.footer-top-buttons {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.footer-top-block ul {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  padding-left: 0;
}

.footer-top-block ul a {
  background-color: #20272C;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.footer-bottom-block div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom-block {
  margin-top: 80px;
  border-top: 1px solid #434343;
}

.footer-bootom-container {
  display: flex;
  gap: 60px;
}

.footer-nav-list {
  display: flex;
  gap: 47px;
  padding-left: 0;
}

.green {
  background-color: #21E786;
  color: #040B11;
  border: none;
  padding: 10px 22px;

  gap: 8px;	
  
  display: inline-flex;
  width: auto;
  text-align: center;
  align-items: center;
  justify-self: center;
  padding: 12px 24px;
  margin: 0px 0px;
}

.blue {
  background-color: #5865F2;
  color: currentColor;
  border: none;
}

.green-border {
  display: inline-flex;
  padding: 10px 22px;
  width: auto;
  text-align: center;
  align-items: center;
  justify-self: center;
  border: 2px solid #21E786; 
  background-color: transparent;
}

.green-border:hover {
  /* border: 2px solid #21E786;  */
  background-color: #29423E;
  border-image: linear-gradient(to right, #21E786, #5865F2)
}

.white-border {
  border: 2px solid #888B8E; 
  background-color: transparent;
}

.button-action .white-border:hover {
  border: 2px solid #888B8E; 
  background-color: #3F454A;
}

.form-button {
  font-family: "Bakbak One", "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  border: none;

  display: inline-flex;
  width: auto;
  align-items: center;
  justify-self: center;
  margin: 0px 0px;
  padding: 16px 36px;
}

.footer-logo-text {
  font-size: 22px;
  line-height: 1.3;
}

.copy {
  font-size: 14px;
  color: #C2C3C5;
  text-transform: capitalize;
}

.footer-nav-link {
  font-family: "Poppins","Roboto", sans-serif;
  line-height: 1.5;
  color: #C2C3C5;
  font-size: 14px;
  text-transform: capitalize;
}

.footer-nav-item {
  display: flex;
}

/* CATALOG PAGE */

.products-list-catalog {
  display: grid;
  grid-template-columns: repeat(3, minmax(330px, 1fr));

  padding: 0;
  margin: 0;
}

.welcome-container {
  background-color: #141B22;
}

.welcome-container-heading {
  font-size: 44px;
  line-height: 1.3;
}

.breadcrumb-link {
  font-size: 14px;
  line-height: 1.4;
  color: #888B8E;
}

.catalog-heading {
  text-transform: capitalize;
}

.filter-container {
  max-width: 300px;
  margin: 20px auto;
  background-color: #2b2b2b;
  padding: 0px;
  border: none;
}

.filter-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #141B22;
}

.filter-title {
  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.green-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
}

.green-checkbox::before {
  content: "";
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: transparent;
}

.green-checkbox:checked:before {
  content: url(/img/checkmark.svg);
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid #0ABE66;
  border-radius: 2px;
  background: #21E786;
  transition: .1s;
}

.filter-options {
  display: flex;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #434343;
}

.filter-header::after {
  content: url(/img/plus.svg);
  position: relative; 
  top: 4px;
}

.toggle-filter:checked + .filter-header::after {
  content: url(/img/minus.svg);
  position: relative; 
  top: 4px;
}

.toggle-filter ~ .filter-options {
  display: none;
}

.toggle-filter:checked ~ .filter-options {
  display: block;
}

.filter-options {
  color: #C2C3C5;
  font-size: 14px;
  line-height: 1.5;
  background-color: #141B22;
}

.filter-options label {
  display: block;
  padding: 5px 0;
}

.breadcrumb li::after {
  content: "|";
  margin-left: 10px;
}

.breadcrumb li:last-child::after {
  content: "";
}

.breadcrumb li:last-child a {
  color: #21E786; 
}
.search-form{
background-color: #141B22;
}

::placeholder {
  color: #888B8E;
  font-size: 14px;
  line-height: 1.8;
  background-color: #141B22;
}

.button-search-reset {
  font-family: "Bakbak One", "Roboto", sans-serif;
  color: #21E786;
  font-size: 14px;
  line-height: 1.5;
}

.footer-text {
  font-size: 16px;
  line-height: 1.6;
}

.joinus-text {
  font-size: 16px;
  line-height: 1.6;
}

.logo-footer-text {
  font-size: 30px;
  line-height: 1.4;
}

.other-nav, .documentation-heading {
  font-size: 16px;
  line-height: 1.5;
}

.footer-copy {
  font-size: 14px;
  line-height: 1.5;
}
.documentation-list {
  font-size: 14px;
  line-height: 1.5;
}

.other-nav-list {
  font-size: 14px;
  line-height: 1.5;
}

.other-nav-link, .documentation-link {
  font-family: "Poppins","Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: C2C3C5;
  text-transform: capitalize;
}
.subscription-form-heading{
  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.subscription-form {
  display:flex;
  align-content: start;
  align-items: center;
  margin-top: 20px;
  padding: 0;
  width: 690px; 
  height: 56px;
}

.button-subscribe
 {
  font-family: "Bakbak One", "Roboto", sans-serif;
  color: #040B11; 
  font-size: 16px;  
  line-height: 1.5;
}

.product-tittle {
  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 44px;
  line-height: 1.2;
}

.product-description{
  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.product-text {
  color: #C2C3C5;
}

.product-termin {
  font-size: 16px;
  line-height: 1.6;
  color: #C2C3C5;
}

.product-price {
  font-family: "Bakbak One", "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
}

.price {
  color:#21E786;
}

.button-buy {
  font-family: "Bakbak One", "Roboto", sans-serif;
  color: #040B11; 
  font-size: 16px;  
  line-height: 1.5;
}




/* ---------styles for images--------- */

.nav-dropbtn::after {
  content: url(/img/arrow-down.svg);
  margin-left: 8px;
}

.empty.nav-dropbtn::after {
  content: " ";
} 

.page-main {
  background-image: url("/img/star.svg"), 
                    url("/img/star.svg"),
                    url("/img/star.svg"),
                    url("/img/star.svg"),
                    url("/img/star.svg");
  background-color: #0D0D11;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 10% 20%, 80% 20%, 30% 70%, 60% 40%, 90% 90%;
  background-size: 500px 500px, 400px 400px, 560px 560px, 450px 450px, 283px 283px;
}

.welcome-section {
  height: calc(100vh - var(--header-height));
	background-color: #141B22;
	background-image: url("/img/binabox-big-pic.webp");
  background-size: contain;
  background-position: 86% 10%;
	background-repeat: no-repeat;
}

.welcome-section-container {
  padding: 139px 193px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.theme-label {
  background-color: #141B22;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinus {
  background-color: #0ABE66;
  background-image: url(/img/star.svg), 
                    url(/img/star.svg), 
                    url(/img/star.svg),
                    linear-gradient(to left, #2333DE 20%, #0ABE66 80%);
  
  background-repeat: no-repeat;
  background-position: -15% 20%, 30% 20%, 110% 80%, left top;
  background-size: 255px 255px, 137px 137px, 321px 321px,  cover;

  text-align: center;
  border-radius: 8px;
}

.subscription-field {
  background-color: #20272C;
  border: none;
  margin: 0;
  padding-left: 24px;

  flex-grow: 1;
  height: calc(100% - 6px);
}

.subscription-field::placeholder {
  background-color: #20272C;
  border: none;
}

.search-nft {
  background-color: #fff;
  border: none;
}

.search-nft::placeholder {
  border: none;
}

.search-nft {
	background-color: transparent;
	border: none;
}

/*-clothing */

.pagination-item {
  background-color: transparent;
  color: #fff;
  border-color: #21E786;
}

.pagination-item:hover {
  background-color: #21E786;
  color: #000;
}

.contacts-list {
  display: inline-flex;
  font-style: normal;
  align-items: center;
}
.contacts-item {
  display: flexbox;
  font-style: normal;
  align-items: center;
  border: 1px solid #434343;

  padding: 20px 40px;
}

.contacts-title {
  text-transform: capitalize;
  font-size: 36px;
}

.contacts-link {
  font-family: "Poppins","Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: none;          
}

.form-message {
  width: 100%;
  max-width: 690px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

  .message-fieldset {
  display: grid;
  grid-template-columns: 1fr;

  border: none;
  padding: 0; 
  margin: 0; 

  justify-content: center;
}

.message-heading {
  font-size: 44px; 
  font-weight: bold;
  text-align: center; 
  margin-bottom: 4px;
  color: #ffffff; 

  grid-column: span 2;
}

.message-text {
  font-size: 20px; 
  line-height: 1.5;
  text-align: center; 
  margin-bottom: 60px; 

  grid-column: span 2;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: stretch;
}

.message-item {
  display: block;
}

.message-item input, 
.message-message {
  width: 100%;
  padding: 14px 24px;
  box-sizing: border-box;

  color: #C2C3C5; 
  background-color: #28282C;
  border: none;
}

.message-item input::placeholder,
.message-message::placeholder {
  color: #C2C3C5; 
  background-color: #28282C;
}

.message-item:nth-of-type(1) {
  grid-column: 1 / 2; 
}

.message-item:nth-of-type(2) {
  grid-column: 2 / 3; 
}

.message-item:nth-of-type(3) {
  grid-column: 1 / 3; 
}

.message-item:nth-of-type(4) {
  grid-column: 1 / 3; 
}

.message-message {
  height: 150px;
}

.message-button {
  grid-column: 1 / 3; 
  margin-top: 20px;
}





